<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">

    <select id="getList" resultType="com.study.app.board.BoardDTO">
        SELECT * FROM BOARD ORDER BY seq DESC
    </select>

    <select id="getListPage" resultType="com.study.app.board.BoardDTO">
        SELECT * FROM (
            SELECT a.*, ROWNUM rnum FROM (
                SELECT * FROM BOARD 
                <where>
                    <if test="searchTerm != null and searchTerm != ''">
                        (title LIKE '%' || #{searchTerm} || '%' OR writer LIKE '%' || #{searchTerm} || '%')
                    </if>
                </where>
                ORDER BY seq DESC
            ) a WHERE ROWNUM &lt;= #{end}
        ) WHERE rnum &gt;= #{start}
    </select>

    <select id="countPosts" resultType="int">
        SELECT COUNT(*) FROM BOARD
        <where>
            <if test="searchTerm != null and searchTerm != ''">
                (title LIKE '%' || #{searchTerm} || '%' OR writer LIKE '%' || #{searchTerm} || '%')
            </if>
        </where>
    </select>

    <select id="getDetail" resultType="com.study.app.board.BoardDTO">
        SELECT * FROM BOARD WHERE seq = #{seq}
    </select>

    <insert id="postWrite">
        INSERT INTO BOARD (seq, writer, title, contents, view_count, write_date)
        VALUES (board_seq.nextval, #{writer}, #{title}, #{contents}, 0, sysdate)
    </insert>

    <update id="detailUpdate">
        UPDATE BOARD 
        SET title = #{title}, contents = #{contents} 
        WHERE seq = #{seq}
    </update>

    <delete id="deleteDetail">
        DELETE FROM BOARD WHERE seq = #{seq}
    </delete>

</mapper>
